body {
    background-color: rgb(244, 234, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

h1 {
    color:rgb(88, 49, 196);
    font-size: 52px;
}

header {
    padding: 32px;
}

header img {
    width: 300px;
    object-fit: contain;
}

main {
    background-color: rgb(122, 74, 218);
    color:rgb(255, 255, 255);
    width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 30px;
    border-radius: 10px;;
}

a {
    background-color: rgb(248, 218, 46);
    color: rgb(88, 49, 196);
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 5px;;
    color: rgb(0, 0, 0);
}

p a {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    font-weight: 300;
    font-size: 18px;
}

a:hover, a:active {
    background-color: rgb(235, 167, 21);
}

ul {
    padding: 0;
    margin: 0;
    list-style:none;
}

li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

.copy {
    color: rgb(146, 144, 144);
}

.extra-important {
    border-color: rgb(247, 209, 85);
    color: rgb(255, 237, 177);
}